@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;

}

/* Container */

.container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 5fr;
}

/* Sidebar (left) */

.sidebar {
    display: grid;
    grid-template-rows: 1fr 3.3fr 5fr;
    background-color: rgb(0, 140, 155);
    grid-column: 1 / 1;
    grid-row: 1 / 3;
}

.sidebar {
    padding: 1rem 0 0 1.2rem;
    color: white;
}

.dashboard, .sidebar-options-1>li, .sidebar-options-2>li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
}

.sidebar-icon {
    height: 25px;
    width: 25px;
}

.sidebar-options-1, .sidebar-options-2 {
    list-style: none;
}

/* Top Header Area */

.header {
    grid-column: 2 / 4;
    grid-row: 1 / 1;
    background: #89f3ff;
    padding: 1.2rem;
    box-shadow: 0 2px 10px rgb(185, 185, 185);
    z-index: 1;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 8px;
}

.search-bar>input {
    border: none;
    border-radius: 20px;
    height: 1.8rem;
    width: 20rem;
    background-color: rgb(226, 226, 226);
}

.header-icon {
    height: 25px;
    width: 25px;
}


/* Main Content (projects, announcements, trending) */

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 5fr 3fr;
    grid-row: 2;
    grid-column: 2 / 4;
    gap: 0.8rem;
    padding: 2rem;
    background: #ccf7ff;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-row: 1 / 3;
    gap: 10px;
}

.projects>div>p {
    border: 1px solid red;
    border-radius: 20px;
    text-align: center;
    padding: 5rem 2rem;
}

.announcements {
    display: grid;
    grid-column: 2;
    grid-row: 1 / 2;
    background: #89f3ff;
    padding: 1rem;
}
/* you are here */
.divider-line {
    border-bottom: 1px solid blue;
    margin-bottom: 1rem;
    align-items: center;
}

.trending {
    display: grid;
    grid-column: 2;
    grid-row: 2 / 3;
    background: #89f3ff; 
    padding: 1rem;
}