@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    
}

.container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.section-1 {
    display: grid;
    grid-template-rows: 1fr 2fr 5fr ;
    background-color: rgb(0, 140, 155);
    grid-column: 1 / 1;
    grid-row: 1 / 6;
}

.section-2 {
    grid-row: 1 / 1;
}

.section-3 {
    display: grid;
    grid-row: 2 / 6; /* 2fr 2fr 1fr */
    grid-template-columns: 200px 200px;
    gap: 10px;
    padding: 10px;
}

.section-3>div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.section-3>div>p {
    border: 1px solid red;
    border-radius: 20px;
    text-align: center;
    padding: 1rem 2rem;
}