@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-bg-color: rgb(250, 250, 250);
    --dark-bg-color: rgb(30, 30, 30);
    --main-theme-color: rgb(6, 26, 94);
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

/* Container */

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
}

.icons {
    height: 25px;
    width: 25px;
}

.dashboard img {
    height: 30px;
    width: 30px;
}

/* Sidebar (left) */

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    background-color: var(--main-theme-color);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    z-index: 2;
}

.sidebar {
    padding: 1rem 0 0 1.2rem;
    color: white;
}

.dashboard,
.list {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
}

.sidebar-options-1,
.sidebar-options-2 {
    list-style: none;
}

.list {
    cursor: pointer;
    transition: 0.2s;
}

.list img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.list:hover {
    color: #a8f3ff;
}

/* Top Header Area */

.header {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    background: var(--light-bg-color);
    padding: 1.2rem;
    box-shadow: 0 2px 10px #b9b9b9;
    z-index: 1;
}

.below-searchbar {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-left: 1rem;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 8px;
}

.search-bar>input {
    border: none;
    border-radius: 20px;
    height: 1.8rem;
    width: 30rem;
    background-color: #e2e2e2;
}

.search-bar>input:focus {
    outline: none;
    box-shadow: 0 0 5px #0096c8;
    padding-left: 10px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-info>img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.2s;
}

.user-info>img:hover {
    transform: scale(1.05);
}

.user-buttons {
    display: flex;
    gap: 1rem;
}

.user-buttons>button {
    font-size: 16px;
    background: linear-gradient(90deg, #0096c8, #0066ff);
    color: white;
    padding: 0.4rem 2rem;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    margin-top: 2rem;
    background-size: 200%;
    background-position: left;
    transition: background-position 0.3s, transform 0.2s;
}

.user-buttons>button:hover {
    background-position: right;
    transform: scale(1.1);
}

.user-buttons>button:active {
    transform: scale(0.95);
}

/* Main Content (projects, announcements, trending) */

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1.1rem;
    padding: 2rem;
    background: #cecece;
}

.project-section {
    display: grid;
    gap: -10rem;
    margin-top: 0;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

.projects>div {
    background: var(--light-bg-color);
    border-left: 5px solid #ffbb00;
    border-radius: 10px;
    text-align: left;
    padding: 1rem;
    box-shadow: 1px 1px 2px 1px #b4b4b4;
}

.projects>div p {
    margin: 0.5rem 0 1rem 0;
    flex-grow: 1;
}

h4+p {
    opacity: 0.6;
}

.projects-icon {
    margin-top: auto;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.projects-icon>button {
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.projects-icon>button:hover {
    filter: invert(73%) sepia(8%) saturate(2950%) hue-rotate(168deg) brightness(108%) contrast(92%);
    transform: scale(1.1);
}

.projects-icon>button:active {  
    transform: scale(0.95);
}

.side-section {
    display: grid;
    grid-template-rows: auto;
    gap: 1rem;
}

.announcements>div {
    background: var(--light-bg-color);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px #b4b4b4;
}

.announcements h3,
.trending h3 {
    margin-bottom: 1rem;
}

.divider-line {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 1rem;
    align-items: center;
}

.trending {
    grid-row: 2 / 2;
}

.trending>div {
    background: var(--light-bg-color);
    padding: 1rem;
    border-radius: 10px;
    gap: 0.5rem;
    box-shadow: 1px 1px 2px 1px #b4b4b4;
}

.announcements,
.trending {
    display: flex;
    flex-direction: column;
}

.announcements>div,
.trending>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}