@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;

}

.container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    display: grid;
    grid-template-rows: 1fr 2fr 5fr;
    background-color: rgb(0, 140, 155);
    grid-column: 1 / 1;
    grid-row: 1 / 3;
}

.header {
    grid-column: 2 / 4;
    grid-row: 1 / 1;
    background: #89f3ff;
}

.main-content {
    grid-row: 2;
    grid-column: 2;
    padding: 10px;
    background: #ccf7ff;
}

.main-content-container {
  display: grid;
  grid-template-columns: repeat(2, 350px);
  gap: 10px;
}

.main-content-container>div>p {
    border: 1px solid red;
    border-radius: 20px;
    text-align: center;
    padding: 5rem 2rem;
}